body {
    margin: 0%;
    padding: 0%;
    background: black;
}

.container {
    font-family: "Arial", Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;
}

.container span {
    font-size: 13rem;
}

@media (max-width:1250px) {
    .container span {
        font-size: 10rem;
    }
}

@media (max-width:1000px) {
    .container span {
        font-size: 7rem;
    }
}

@media (max-width:800px) {
    .container span {
        font-size: 3rem;
    }
}
